<div id="modal" class="hide">
    <div class="content">
        <a href="#" id="back">Fechar</a>
        <div class="header">
            <h1>Pontos de Coleta</h1>
        </div>
        <form action="/search">
            <div class="search field">
                <select name="searchUf">
                    <option value="">Selecione o Estado</option>
                </select>
                <input type="text" name="search" placeholder="Digite a cidade">
            </div>
            <button>Buscar</button>
        </form>
    </div>
</div>